h1 {
    margin-bottom: 70px;
}

#carousel {
    height: 600px;
    width: 1000px;
    margin: 0 auto;
    position: relative;
}

#caorusel .gallery {
    height: 100%;
}

#carousel img {
    padding: 0;
    height: 600px;
    width: 1000px;
    object-fit: cover;
    border-radius: 10px 0 0 10px;
    display: none;
}

#carousel img.active {
    display: block;
}

#thumbnail-box {
    height: 600px;
    width: 300px;
    border-radius: 0 10px 10px 0;
    background-color: rgb(88, 88, 88);
}

#thumbnail-box i {
    position: relative;
    font-size: 2rem;
    left: 45%;
    cursor: pointer;
}

#next {
    bottom: -93%;
}

#prev {
    top: -10%;
}
