h1 {
    margin-bottom: 80px;
}

#carousel {
    height: 600px;
    width: 1000px;
    position: relative;
}

#caorusel .gallery {
    height: 100%;
}

#carousel img {
    padding: 0;
    height: 600px;
    width: 1000px;
    object-fit: cover;
    border-radius: 10px 0 0 10px;
    display: none;
}

#carousel img.active {
    display: block;
}

#carousel i {
    font-size: 2rem;
    position: absolute;
    right: -18%;
    cursor: pointer;
}

#next {
    bottom: -10%;
}

#prev {
    top: -10%;
}

#thumbnail {
    height: 600px;
    width: 300px;
    border-radius: 0 10px 10px 0;
}

#thumbnail img {
    height: calc(600px / 5);
    width: 300px;
    object-fit: cover;
}
